name: build and push

on:
    push:
        branches:
            - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
          - name: checkout code
            uses: actions/checkout@v2
            
          - name: Docker build and push
            run: |
              sudo docker login -u $ {{ secrets.DOCKERHUB_USERNAME }} -p $ {{  secrets.DOCKERHUB_PASSWORD }}
              sudo docker build -t uriaschaves/app-task:latest .
              sudo docker push uriaschaves/app-task:latest